<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039660801087-2go53ksom731oopf3al8toa11om5ik2j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039660801087-2go53ksom731oopf3al8toa11om5ik2j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1039660801087-lgano2qvpao106tnfam80tmajsrhuq53.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyABYmI82uXpp8FWUGVpc9vmfk5O8E3P7zI</string>
	<key>GCM_SENDER_ID</key>
	<string>1039660801087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.travelogueMobile.tayninh</string>
	<key>PROJECT_ID</key>
	<string>goyoung-tayninh</string>
	<key>STORAGE_BUCKET</key>
	<string>goyoung-tayninh.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039660801087:ios:00e7b4c8e4bf4b3bffac8a</string>
</dict>
</plist>